<h1>Stupid Coaching</h1>
<!-- <h1>Questions#answer</h1> -->
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="question">
  <p><%= params["question"] %></p>
  <p>-You</p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>
<div>
  <a href="/ask">Ask a new question</a>
</div>

